@media (max-width: 1024px) {
  .navbar {
    padding: 20px 40px;
  }

  .links {
    gap: 24px;
  }

  .nome {
    font-size: 48px;
  }

  .role {
    font-size: 2rem;
  }

  .card {
    padding: 32px;
    font-size: 1.15rem;
  }

  .btn-download {
    width: 40%;
  }
}

/* =========================
   TABLETS / MOBILE
   ========================= */
@media (max-width: 768px) {
  header {
    margin-bottom: 6rem;
  }

  .offcanvas-content ul li a {
    font-size: 1.2rem; /* Tamanho menor em dispositivos m贸veis */
  }
  .navbar {
    padding: 35px 20px 15px; /* Reduz o padding em dispositivos m贸veis */
  }

  .links {
    display: none;
    font-size: 1em;
  }
  .logo {
    font-size: 1.7em;
  }

  section {
    padding: 40px 16px;
  }

  .nome {
    font-size: 38px;
  }

  .subtext {
    font-size: 1rem;
    margin: 2.5rem 0;
  }

  .role {
    font-size: 1.75rem;
    height: auto;
  }

  .badge,
  .badge-estatico {
    padding: 12px 16px;
    font-size: 0.75rem;
  }

  .btn-primary {
    padding: 16px 28px;
    font-size: 1.1rem;
  }

  .card {
    padding: 28px;
    font-size: 1.1rem;
  }

  .btn-download {
    width: 60%;
    font-size: 1rem;
  }

  hr {
    width: 70%;
  }
}

/* =========================
   MOBILE PEQUENO
   ========================= */
@media (max-width: 480px) {
  .offcanvas-content ul li a {
    font-size: 1.2rem; /* Tamanho menor em dispositivos m贸veis */
  }
  .navbar {
    padding: 35px 20px 15px; /* Reduz o padding em dispositivos m贸veis */
  }

  .links {
    display: none;
    font-size: 1em;
  }
  .logo {
    font-size: 1.7em;
  }

  .nome {
    font-size: 32px;
  }

  .role {
    font-size: 1.4rem;
    margin: 16px 0;
  }

  .text-intro {
    font-size: 1.8rem;
  }

  .card {
    padding: 24px;
    font-size: 1rem;
  }

  .btn-primary {
    width: 100%;
    text-align: center;
  }

  .btn-download {
    width: 100%;
  }

  .arrow-down {
    font-size: 0.875rem;
  }

  footer {
    padding: 24px 16px;
  }
}